
/* Homepage */
#welcome {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4vw;
  z-index: 0;
  font-size: 4vw;
  padding-bottom: 4vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}



/* MacroCalc */

.macFormContainer{
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column
}

/* #macForm{
  display: flex;
  justify-content: center;
  flex-direction: column; 
} */

ui.form.form.ui.form{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  padding-bottom: 30px;
}

.ui.change{
  color:white
}

/* NavBar */
div.ui.menu.bottom{
display: flex;
justify-content: center;
/* align-self: center; */
position: fixed;
bottom: 0;
width: 100%;
}

/* TopNav */

div.ui.menu.top{
  display: flex;
  justify-content: flex-end;
  /* align-self: center; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  }


/* DailyGoals */
#goalsContainer{
display: flex
}




/* Log */
.ui.table {
  font-size: 1em;
}

.ui.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34,36,38,.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0;
  padding-bottom: 30px;
}

/* search */
#quantity {
  width: 5%;
}

/* buttons to accept goals */
#buttonSetGoals{
  background-color: #358caa
}

#bossyPants2{
  background-color: #ff5252;
}



/* Media Queries */
@media(max-width: 600px){
  #welcome{
    top: 8vw;
    padding-bottom: 8vw;
    padding-top: 5vw;
  }
}